@import "variables";

.btn.btn-danger {
  color: $white;
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  padding: 17px 6px;
  border-radius: 2px;
  border: 1px solid $danger;
}

.btn {
  box-shadow: none!important;
  transition: color .25s, background-color .25s;

  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  &:focus {
    box-shadow: none;
    outline: 0;
  }
}

.btn-danger {
  &:focus {
    background-color: #DC0303;
    border: 1px solid #DC0303;
  }
  &:hover {
    background-color: $white;
    color: $danger;
    border: 1px solid $danger;
  }

}