//@import "~bootstrap/scss/functions";
@import "variables";
@import "~bootstrap";
@import '~nouislider/dist/nouislider.min.css';

@import "helpers";
@import 'header';
@import "page";
@import "catalog";

@each $name, $width in $grid-breakpoints {
  $gutter: map-get($grid-gutter-widths, $name);
  @include respond-to($name) {
    .col, [class*="col-"] {
      padding: 0 $gutter * .5!important;
    }

    .row {
      margin: 0 $gutter * -.5;
    }
  }
}